In [37]:
import pandas as pd
from pathlib import Path
import re
file_path = Path('data/kl.csv')

In [38]:
data_frame = pd.read_csv(file_path, encoding='ISO-8859-1').copy()

In [39]:
data_frame.values

array([[0, 158023, 'L. Messi', ..., 14.0, 8.0, '\x80226.5M'],
       [1, 20801, 'Cristiano Ronaldo', ..., 14.0, 11.0, '\x80127.1M'],
       [2, 190871, 'Neymar Jr', ..., 15.0, 11.0, '\x80228.1M'],
       ...,
       [18204, 241638, 'B. Worman', ..., 6.0, 13.0, '\x80165K'],
       [18205, 246268, 'D. Walker-Rice', ..., 8.0, 9.0, '\x80143K'],
       [18206, 246269, 'G. Nugent', ..., 12.0, 9.0, '\x80165K']],
      dtype=object)

In [40]:
data_frame_1 = pd.DataFrame(data_frame, columns=['Name', 'Wage', 'Value'])

In [41]:
data_frame_1

                     Name   Wage    Value
0                L. Messi  565K  110.5M
1       Cristiano Ronaldo  405K     77M
2               Neymar Jr  290K  118.5M
3                  De Gea  260K     72M
4            K. De Bruyne  355K    102M
...                   ...    ...      ...
18202        J. Lundstram    1K     60K
18203  N. Christoffersson    1K     60K
18204           B. Worman    1K     60K
18205      D. Walker-Rice    1K     60K
18206           G. Nugent    1K     60K

[18207 rows x 3 columns]

In [42]:
data_frame_1['Wage'] = data_frame_1['Wage'].apply(
    lambda x: float(re.sub('[^\d.]', '', x)))

data_frame_1['Value'] = data_frame_1['Value'].apply(
    lambda x: float(re.sub('[^\d.]', '', x)))

data_frame_1['difference'] = data_frame_1['Wage'] - data_frame_1['Value']

In [43]:
data_frame_1

                     Name   Wage  Value  difference
0                L. Messi  565.0  110.5       454.5
1       Cristiano Ronaldo  405.0   77.0       328.0
2               Neymar Jr  290.0  118.5       171.5
3                  De Gea  260.0   72.0       188.0
4            K. De Bruyne  355.0  102.0       253.0
...                   ...    ...    ...         ...
18202        J. Lundstram    1.0   60.0       -59.0
18203  N. Christoffersson    1.0   60.0       -59.0
18204           B. Worman    1.0   60.0       -59.0
18205      D. Walker-Rice    1.0   60.0       -59.0
18206           G. Nugent    1.0   60.0       -59.0

[18207 rows x 4 columns]

In [ ]:
data_frame_1.sort_values(by=['difference'], ascending=False)